<%- include('base/head') %>
<%- include('base/navbar') %>
<div class="container">
    <h1 class="color"><%= name %> </h1>
    <h2><%= description %></h2>
    <h3>추천수: <%= subscribers %> </h3>
    <button type="button" class="btn btn-primary">추천</button>
    <button type="button" class="btn btn-secondary">비추천</button>
    <hr>
    <% for (post of posts) { %>
    <p><%= post.title %> -<b><%= post.author %></b> </p>
    <% if (post.img) { %>
    <img src="<%= post.img %> " alt="">
    <% } %>
    <% } %>
</div>
<%- include('base/footer') %>
<script>

</script>
</body>

</html>